{% load static %}

{% if hot %}
<div class="details-products">
	<div class="details-slider">
		<div class="slider-product">
			<img class="product-image" src="{{ hot.image.url }}">
		</div>
		
	</div>
	<div class="description">
		<h3 class="big-bold"> {{ hot.name }}</h3>
		<h3 class="red">мы рекомендуем</h3>
		<p class="price"> {{hot.price}} <span>руб</span></p>
		<a href="{% url 'product' hot.pk %}" class="red-button">
			заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
		<div class="description-text">
			{{hot.description }}
		</div>
	</div>
</div>
{% endif %}