{% load static %}

<div class="related">
    <div class="title clearfix">
        {% with url_name=request.resolver_match.url_name %}
        <h2>
           {% if url_name == 'products' %} Все товары: {% else %} {{category_name}}: {% endif %} 
        </h2>
        {% endwith %}
    </div>
    <div class="related-products clearfix">
        {% for  product in object_list %}
        <div class="block">
            <a href="{% url 'product' product.pk %}">
                <img class="product-image" src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                <div class="text">
                    <img src="{% static 'img/icon-hover.png' %}" alt="img">
                    <h4>{{product.name}}</h4>
                    <p>{{product.description}}</p>
                </div>
            </a>
        </div>
        {% empty %}
            Извините, в категории, нет товаров.
        {% endfor %}

    </div>
</div>