{% load static %}

<script src="{% static 'js/add-to-basket.js' %}"></script>

<div class="container-fluid">
	<div class="row">
		<div class=".col-6 .col-md-4">
			<img class="product-image" src="{{ product.image.url }}">
		</div>

		<div class="col">
			<h3 class="big-bold"> {{ product.name }}</h3>
			<p class="price"> {{product.price}} <span>руб</span></p>
			<a href="{% url 'category' product.category.id %}">#{{product.category.name}}</a>
			<div class="description-text">
				{{product.description }}
				<br>
				Осталось на складе: {{product.quantity }}
			</div>
			<input type="number" class="form-control input-number" value="0" min="0" max="{{product.quantity }}"/>
			<div class="btn-group" role="group" aria-label="Basic example">
				{% if  product.quantity %}
				<a href="{% url 'basket:add' product.pk %}" class="btn btn-primary add-to-cart">В корзину</a>
				{% else %}
				<a href="#" class="btn btn-secondary">Товар закончился</a>
				{% endif %}
		   </div>
		</div>
	</div>
</div>
