{% load static %}

<link rel="stylesheet" href="{% static 'basket-style.css' %}">
<script src="{% static 'js/basket-script.js' %}"></script>
<head>
</head>

<div class="category-products clearfix">
    <button>
        <a href="{% url 'index' %}" class="">
            < на главную
        </a>
    </button>
    {% with basket=request.user.basket %}
    
    {% if basket.quantity != 0 %}
    <table>
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Убрать</th>
        </tr>
        {% for basket_element in basket.all %}    
    	{% with basket_summary=basket.get_basket %}
	<tr class="basket-element{{basket_element.pk}}">
                {% include 'basketapp/includes/basket_element.html' %}
            </tr>    
    	{% endwith %}
        {% endfor %}
        <tr class="basket-total">
            {% include 'basketapp/includes/basket_total.html' %}
        </tr>
    </table>
    <button>
        <a href="{% url 'ordersapp:order_create' %}" class="">
            Сделать заказ!
        </a>
    </button>

    {% else %}
        <br>
        <h2>В корзине пусто!</h2>

        <a href="{% url 'products' %}" class="">
            <h2>За покупками!</h2>
        </a>
    {% endif %}

    {% endwith %}
</div>
