{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'login-style.css' %}">
    <form class="login-form" action="{% url 'authapp:login' %}" method="post">
        <div class="content">
            {% csrf_token %}
            <div class = "input-field">
                {{ login_form.as_table }}
            </div>
            <br>
            <div class="action">
                <button type="submit">войти</button>
            </div>
            <button class="btn btn-round form-control">
                <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
                Вход через google+
                </a>
            </button>  
        </div>
    </form>
{% endblock %}

