{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
    <div class="categories_list">
        <button class="new_category">
            <a href={% url 'admin:category_create' %}>новая категория</a>
        </button> <br>
        <h2> Количество заказов: {{orders|length}} </h2>
        {% for order in orders %}
        <table>
            <tr>
                <th colspan="6">
                    Заказ №{{order.id}}; 
                    Пользователь: {{order.user}};
                    {% if order.user.first_name %}
                        Получатель: {{order.user.first_name}} {{order.user.last_name}};
                    {% endif %}
                    Статус заказа: {{order.get_status_display|title}}
                </th>
            </tr>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
            </tr>
            {% for object in object_list %}
                {% if object.order.id == order.id %}
                <tr class="user_record">
                    <td>
                        {{ object.product.name}}
                    </td>
                    <td>
                        {{ object.quantity}} шт.
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        <button>
            <a href="{% url 'admin:order_send' order.pk %}" class="">
                Отправить
            </a>
        </button>
        <button>
            <a href="{% url 'admin:order_delete' order.pk %}" class="">
                Удалить
            </a>
        </button>
        <br><br>
        {% endfor %}
    </div>
{% endblock %}
